body {
    background: url('/Apps/assets/img/Fundo_Login.webp') no-repeat center center / cover;
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    width: 100vw;
}

.main-layout {
    display: flex;
    min-height: 100vh;
    width: 100vw;
}

.sidebar {
    height: 100vh;
    transition: width 0.22s cubic-bezier(.4,0,.2,1), background 0.22s cubic-bezier(.4,0,.2,1);
    z-index: 1000;
    background: transparent !important; /* Garante que é transparente */
}

.main-content {
    flex: 1;
    /*background: #fff; /* Só para teste, pode remover para ver o fundo */
    min-height: 100vh;
    transition: margin 0.3s;
    padding: 32px;
    box-sizing: border-box;
}
